<div class="container">

  <h2>Liste des Produits</h2>
  <br>
  <div>
  <ul *ngFor="let produit of Produits" class="list-group" style="z-index: 1; position: relative">
    <li class="list-group-item list-group-item-action" (click)="displayProduct(produit)"><img class="fit-picture" alt="image de {{produit.reference}}" src="{{produit.image}}">
      <p>{{produit.reference}}</p>
      <div *ngIf="produit===selectedProduct">
        Marque : {{selectedProduct.marque}} <br>Prix : {{selectedProduct.prix}} <br> {{selectedProduct.description}} <p class="dispo">{{selectedProduct.dispo}}</p>
      </div>
    </li>
  </ul>
  </div>
</div>
